@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: myFontLao;
  src: url('../../public/assets/font/saysettha_ot.ttf');
}

@font-face {
  font-family: myFontEn;
  src: url('../../public/assets/font/RobotoSlab-Regular.ttf');
}

* {
  font-family: myFontLao;
}
h1{
  font-family: myFontEn;
}
